<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>
			{{#if config.head.title}}
				{{config.head.title}}
			{{else}}
				Spectrum
			{{/if}}
		</title>
		{{#if config.head.keywords}}
			<meta name="keywords" content="{{config.head.keywords}}">
		{{/if}}
		{{#if config.head.description}}
			<meta name="description" content="{{config.head.description}}">
		{{/if}}
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link href="/styles/site.css" rel="stylesheet">

		{{!-- Add lightbox modal plugin --}}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

	</head>
	<body>
		<div id="body">
			<header class="header">
				<div class="container">
					<div class="row">
						<div class="col-sm">
							<img src="/images/iphone.png" class="pull-left mr-2" alt="">
							<div class="d-inline-block nowrap align-middle">
								{{#if info.phone1}}
									<a href="tel:{{phoneTrim info.phone1}}" class="phone">{{info.phone1}}</a>
								{{/if}}
								<br>
								{{#if info.phone2}}
									<a href="tel:{{phoneTrim info.phone2}}" class="phone">{{info.phone2}}</a>
								{{/if}}
							</div>
						</div>
						<div class="col-sm">
							<img src="{{cloudinaryUrl info.logo}}" alt="">
						</div>
						<div class="col-sm">
							<ul class="list-unstyled d-flex socials justify-content-end">
								<li class="ml-auto">
									<a href="{{info.vk}}">
										<i class="fab fa-vk"></i>
									</a>
								</li>
								<li class="ml-auto">
									<a href="{{info.facebook}}">
										<i class="fab fa-facebook-square"></i>
									</a>
								</li>
								<li class="ml-auto">
									<a href="{{info.instagram}}">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</header>
			{{> header }}
			{{{ body }}}
			{{> footer }}
		</div>
		<script src="/js/jquery/jquery-3.0.0.min.js" defer></script>
		<script src="/js/bootstrap/bootstrap.min.js" defer></script>
		{{!-- Add slick image slider plugin --}}
		<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>
		{{!-- Add ligthbox modal plugin --}}
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" defer></script>
		<script src="/js/app.js" defer></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
