<div class="container">
	<h1>Оставьте заявку на фотосессию</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-6">
			{{#if enquirySubmitted}}
			<h3>Благодарим за заявку. Наш менеджер свяжется с вами в ближайшее время</h3>
			{{else}}
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
					<label>Имя</label>
					<input type="text" name="name.full" required class="form-control" value="{{formData.[name.full]}}">
				</div>
				<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
					<label>Email</label>
					<input type="email" name="email" required class="form-control" value="{{formData.email}}">
				</div>
				<div class="form-group {{#if validationErrors.phone}}has-error{{/if}}">
					<label>Введите ваш номер телефона</label>
					<input type="text" name="phone" required class="form-control" value="{{formData.phone}}">
				</div>
				<div class="form-group {{#if validationErrors.date}}has-error{{/if}}">
					<label>Выберете желаемую дату фотосессии</label>
					<input type="date" name="date" class="form-control">
				</div>
				<div class="form-group {{#if validationErrors.time}}has-error{{/if}}">
					<label>Выберете желаемое время фотосессии</label>
					<input type="time" name="time" class="form-control">
				</div>
				<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
					<label>Дополнительно</label>
					<textarea name="message" placeholder="Дайте нам знать еще что нибудь" rows="4" class="form-control">{{formData.message}}</textarea>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Send</button>
				</div>
			</form>
			{{/if}}
		</div>
	</div>
</div>
