{{!< default}}
<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
		{{#each data.config.sliderImages }}
    <div class="carousel-item {{#ifeq @index 0}}active{{/ifeq}}">
      <img class="d-block w-100" src="{{cloudinaryUrl this}}" alt="">
    </div>
		{{/each}}
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<section class="section-light py-5">
	<h2 class="fancy text-center"><span>Фотостудия Spectrum</span></h2>
	<div class="container">
		<div class="row align-items-middle">
			<div class="col-sm-8">{{{data.config.description.html}}}</div>
			<div class="col-sm-4 pt-5">
				{{#if data.config.description.image}}
					<div class="magic">
						<img src="{{cloudinaryUrl data.config.description.image}}" class="magic-main img-fluid" alt="">
						<img src="{{cloudinaryUrl data.config.description.image}}" class="magic-rotated-second img-fluid" alt="">
						<img src="{{cloudinaryUrl data.config.description.image}}" class="magic-rotated-first img-fluid" alt="">
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</section>
<section class="section-dark pt-2 pb-5">
	<h2 class="fancy fancy-dark text-center"><span>Залы</span></h2>
	<div class="container-fluid">
		<div class="row no-gutters align-items-stretch">
			{{#each data.rooms}}
				<div class="col-sm-4 p-5 img-zoom">
					<div class="img-zoom-back" style="background-image: url({{cloudinaryUrl	 thumbnail}});"></div>
					<div class="img-zoom-caption">
						<h3 class="img-zoom-caption-header">{{title}}</h3>
						{{{description.brief}}}
						<a role="button" href="#" class="btn btn-outline-primary">Перейти в зал</a>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</section>
<section class="section-light p-3">
	<h2 class="fancy fancy-light text-center">
		<span>Почему именно мы?</span>
	</h2>
	<div class="container">
		<div class="row">
			{{#each data.advantages}}
			<div class="col-md-6 col-lg-4 d-table py-3">
				<div class="d-table-cell w-25">
					<img src="/images/{{icon}}" class="push-left" alt="">
				</div>
				<div class="d-table-cell text-uppercase pl-4 align-middle">
					{{title}}
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</section>
<section class="section-dark p-3 services">
	<h2 class="fancy fancy-dark text-center">
		<span>Услуги</span>
	</h2>
	<div class="container tiles">
		{{#each data.services}}
		<div class="row align-items-center my-4">
				<div class="col-sm-5 {{#if even}} order-2 {{/if}}">
					<div class="position-relative">
						<p>{{{ description }}}</p>
						<div class="s-badge">
							<span class="c-primary text-center">{{price}} грн./час</span>
							{{#if free}}
								<span class="c-danger text-uppercase">Бесплатно при аренде зала</span>
							{{/if}}
						</div>
					</div>
				</div>
				<div class="col-sm-7">
					<img class="img-fluid" src="{{cloudinaryUrl image}}">
				</div>
			</div>
		{{/each}}
	</div>
</section>

<section class="section-light p-3">
	<h2 class="fancy fancy-light mb-3 text-center">
		<span>Мы в инстаграм</span>
	</h2>
	<div class="instagram">
		<div class="d-flex flex-wrap align-items-center">
			{{#each data.instagramImages}}
			<div class="m-2 flex-grow-1 flex-shrink-1">
				<a href="{{standard_resolution.url}}" class="thumbnail" target="_blank">
					<img src="{{low_resolution.url}}" alt="" class="img-fluid w-100">
				</a>
			</div>
			{{/each}}
		</div>
	</div>
</section>
<section class="section-dark p-3">
	<h2 class="fancy fancy-dark text-center mb-3">
		<span>Как нас найти</h2>
	</h2>
	<div class="row align-content-center">
		<div class="col-sm-7">
			<div >
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d320.62945926637207!2d36.24055035549255!3d49.99193962970655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0ede57f35d7%3A0x5496f3df621b0fb6!2z0JzRg9C30YvQutCw0LvRjNC90YvQuSDQv9C10YAuLCA2LCDQpdCw0YDRjNC60L7Qsiwg0KXQsNGA0YzQutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjEwMDA!5e0!3m2!1sru!2sua!4v1534850179394" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-sm-5">
			<div class="content">
				{{{siteConfigs.address}}}
			</div>
		</div>
	</div>
</section>
