{{!< default}}
<div class="carousel-slick">
  <div class="carousel-slick-inner">
		{{#each data.config.sliderImages }}
    <div class="carousel-slick-item">
			<img src="{{cloudinaryUrl this}}" class="d-block w-100" alt="">
		</div>
		{{/each}}
  </div>
</div>
<section class="section-light py-5">
	<h2 class="fancy text-center"><span>Фотостудия Spectrum</span></h2>
	<div class="container">
		<div class="row align-items-middle">
			<div class="col-sm-8">{{{data.config.description.html}}}</div>
			<div class="col-sm-4 pt-5">
				{{#if data.config.description.image}}
					<div class="magic">
						<img src="{{cloudinaryUrl data.config.description.image}}" class="magic-main img-fluid" alt="">
						<img src="{{cloudinaryUrl data.config.description.image}}" class="magic-rotated-second img-fluid" alt="">
						<img src="{{cloudinaryUrl data.config.description.image}}" class="magic-rotated-first img-fluid" alt="">
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</section>
<section class="section-dark pt-2 pb-5">
	<h2 class="fancy fancy-dark text-center"><span>Залы</span></h2>
	<div class="container-fluid">
		<div class="row align-items-stretch">
			{{#each data.rooms}}
				<div class="col-sm-4 img-zoom">
					<div class="img-zoom-back" style="background-image: url({{cloudinaryUrl	 thumbnail}});"></div>
					<div class="img-zoom-caption">
						<h3 class="img-zoom-caption-header">{{title}}</h3>
						{{{description.brief}}}
						<a role="button" href="#" class="btn btn-outline-primary">Перейти в зал</a>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</section>
<section class="section-light p-3">
	<h2 class="fancy fancy-light text-center">
		<span>Почему именно мы?</span>
	</h2>
	<div class="container">
		<div class="row">
			{{#each data.advantages}}
			<div class="col-md-6 col-lg-4 d-table py-3">
				<div class="d-table-cell w-25">
					<img src="/images/{{icon}}" class="push-left" alt="">
				</div>
				<div class="d-table-cell text-uppercase pl-4 align-middle">
					{{title}}
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</section>
<section class="section-dark p-3 services">
	<h2 class="fancy fancy-dark text-center">
		<span>Услуги</span>
	</h2>
	<div class="container bg">
		{{#each data.services}}
		<div class="row align-items-center my-4">
				<div class="col-sm-5 {{#if even}} order-2 {{/if}}">
					<div class="position-relative">
						<p>{{{ description }}}</p>
						<div class="s-badge">
							<span class="c-primary text-center">{{price}} грн./час</span>
							{{#if free}}
								<span class="c-danger text-uppercase">Бесплатно при аренде зала</span>
							{{/if}}
						</div>
					</div>
				</div>
				<div class="col-sm-7">
					<img class="img-fluid" src="{{cloudinaryUrl image}}">
				</div>
			</div>
		{{/each}}
	</div>
</section>

<section class="section-light p-3">
	<h2 class="fancy fancy-light mb-3 text-center">
		<span>Мы в инстаграм</span>
	</h2>
	<div class="instagram">
		<div class="d-flex flex-wrap align-content-start">
			{{#each data.instagramImages}}
			<div class="m-2 flex-grow-1 flex-shrink-1">
				<a href="{{standard_resolution.url}}" class="thumbnail" target="_blank">
					<img src="{{thumbnail.url}}" alt="" class="img-fluid">
				</a>
			</div>
			{{/each}}
		</div>
	</div>
</section>
<section class="section-dark p-3">
	<h2 class="fancy fancy-dark text-center mb-3">
		<span>Как нас найти</h2>
	</h2>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-sm">
				<div>
					<a class="dg-widget-link" href="http://2gis.ua/kharkov/firm/70000001033184670/center/36.24065637588502,49.99340854373586/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Харькова</a><div class="dg-widget-link"><a href="http://2gis.ua/kharkov/firm/70000001033184670/photos/70000001033184670/center/36.24065637588502,49.99340854373586/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии компании</a></div><div class="dg-widget-link"><a href="http://2gis.ua/kharkov/center/36.240654,49.991767/zoom/16/routeTab/rsType/bus/to/36.240654,49.991767╎Spectrum, фотостудия?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Spectrum, фотостудия</a></div><script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":640,"height":400,"borderColor":"#a3a3a3","pos":{"lat":49.99340854373586,"lon":36.24065637588502,"zoom":16},"opt":{"city":"kharkov"},"org":[{"id":"70000001033184670"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
				</div>
			</div>
			<div class="col-sm">
				<div class="content">
					{{{siteConfigs.address}}}
				</div>
			</div>
		</div>
	</div>
</section>
