{{!< default}}
<section class="carousel-slick">
  <div class="carousel-slick-inner">
		{{#each data.room.sliderImages }}
    <div class="carousel-slick-item">
			<img src="{{cloudinaryUrl this}}" class="d-block w-100" alt="">
		</div>
		{{/each}}
  </div>
</section>
<section class="container py-3">
  <h1 class="fancy fancy-light text-center"><span>{{data.room.title}}</span></h1>
  <div class="row">
    <div class="col-sm-6">
      {{{data.room.description.extended}}}
    </div>
    <div class="col-sm-6">
      
    </div>
  </div>
  <div class="text-center">
    <a href="#" class="btn btn-primary">Забронировать</a>
  </div>
</section>
<section class="section-dark py-2">
  <h2 class="fancy fancy-dark text-center"><span>Оборудование</span></h2>
  <div class="container">
    <div class="row align-items-center">
      {{#each data.stuff}}
        <div class="col-sm-4 mb-4">
          <figure class="img-hover">
            <figcaption>{{name}}</figcaption>
            <img src="{{cloudinaryUrl image}}" alt="{{title}}" class="img-fluid">
          </figure>
        </div>
      {{/each}}
    </div>
  </div>
</section>
<section class="section py-5">
  <h2 class="fancy fancy-light text-center"><span>Снято в {{data.room.title}}</span></h2>
  <div class="container">
    <div class="row align-items-center">
      {{#each data.gallery}}
      <div class="col-sm-4 mb-4">
        <div class="thumbnail">
          <a href="{{cloudinaryUrl image}}" data-toggle="lightbox">
            <img src="{{cloudinaryUrl previewImage}}" alt="{{alt}}" class="img-fluid">
          </a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>
<section class="section-dark">
	<div class="container-fluid">
		<div class="row align-items-stretch">
			{{#each data.rooms}}
				<div class="col-sm-4 img-zoom">
					<div class="img-zoom-back" style="background-image: url({{cloudinaryUrl	 thumbnail}});"></div>
					<div class="img-zoom-caption">
						<h3 class="img-zoom-caption-header">{{title}}</h3>
						{{{description.brief}}}
						<a role="button" href="{{roomUrl slug}}" class="btn btn-outline-primary">Перейти в зал</a>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</section>