<div class="container-fluid">
  <div class="row">
    <div id="room-carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {{#each data.room.sliderImages}}
          <li data-target="#room-carousel" data-slide-to="{{@index}}" {{#ifeq @index 0}} class="active"{{/ifeq}}></li>
        {{/each}}
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        {{#each data.room.sliderImages}}
        <div class="item {{#ifeq @index 0}}active{{/ifeq}}" style="background-image: url({{cloudinaryUrl this}})">
          <div class="carousel-caption">
          </div>
        </div>
        {{/each}}
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#room-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#room-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="page-header text-center">
      <h1>{{data.room.title}}</h1>
    </div>
    <div class="col-sm-6">
      {{{data.room.description.extended}}}
    </div>
    <div class="col-sm-6">
      <div class="well">
        {{{data.room.services}}}
        <a href="/booking" class="btn btn-success btn-large btn-lg btn-block">Забронировать</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="page-header">
      <h2 class="text-center">Снято в {{data.room.title}}</h2>
    </div>
    <div class="col-sm-12">
      {{#each data.gallery}}
      <div class="col-sm-3">
        <div class="thumbnail">
          <img src="{{cloudinaryUrl previewImage}}" alt="{{alt}}" class="img-responsive">
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>