<footer class="footer section-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <nav>
                {{#each footerNav.cols}}
                    <ul class="list-unstyled d-inline-block mr-3">
                        {{#each this}}
                        <li>
                            <a href="{{href}}">{{label}}</a>
                        </li>
                        {{/each}}
                    </ul>
                {{/each}}
                </nav>
            </div>
            <div class="col-sm-4">
                <img src="/images/iphone.png" class="pull-left mr-2" alt="">
                <div class="d-inline-block nowrap align-middle">
                {{#if siteConfigs.phone1}}
                    <a href="tel:{{phoneTrim siteConfigs.phone1}}" class="phone">{{siteConfigs.phone1}}</a>
                {{/if}}
                <br>
                {{#if siteConfigs.phone2}}
                    <a href="tel:{{phoneTrim siteConfigs.phone2}}" class="phone">{{siteConfigs.phone2}}</a>
                {{/if}}
                </div>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled d-flex socials justify-content-end">
                    <li class="ml-auto">
                        <a href="{{siteConfigs.vk}}">
                            <i class="fab fa-vk"></i>
                        </a>
                    </li>
                    <li class="ml-auto">
                        <a href="{{siteConfigs.facebook}}">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="ml-auto">
                        <a href="{{siteConfigs.instagram}}">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>